mixin field(colSize, type, name, text, value, placeholder, autofocus, id)
  div(class='small-#{colSize} columns', id="#{id}")
    if text
      label(for=name) #{text}:
    input(value=value, type=type, name=name, placeholder=placeholder, autofocus=autofocus)
